@{
    ViewBag.Title = "Jantrik:CWC";
}

@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Jantrik:CWC</title>
</head>
<body>
    <div>
        <div>
            @User.Identity.Name <br/>
            @ViewBag.FullName
            @if (User.Identity.IsAuthenticated)
            {
                <a href="@Url.Action("Logout", "Account")">Logout</a>
            }
        </div>
        Login <br/>
        <form action="@Url.Action("Login", "Account")" method="POST">
            Login Id:
            <input type="text" name="LoginId" />
            <br />
            Password:
            <input type="password" name="Password" />
            <br />
            <input type="checkbox" name="RememberMe" />
            Remember Me
            <br />
            <input type="submit" value="Login" />
        </form>
        Register <br/>
        <form action="@Url.Action("Register", "Account")" method="POST">
            Email:
            <input type="text" name="Email" />
            <br />
            Password:
            <input type="password" name="Password" />
            <br />
            Retype Password:
            <input type="password" name="RetypePassword" />
            <br />
            <input type="submit" value="Register" />
        </form>
        
        Update <br/>
        <form action="@Url.Action("Update", "Account")" method="POST">
            Full name:
            <input type="text" name="FullName" />
            <br />
            New Password:
            <input type="password" name="NewPassword" />
            <br />
            Retype New Password:
            <input type="password" name="RetypeNewPassword" />
            <br />
            <br />
            Current Password:
            <input type="password" name="OldPassword" /> <br/>
            <input type="submit" value="Save" />
        </form>
    </div>
</body>
</html>*@
